<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">
    <title>SENAI</title>
    <link rel="stylesheet" href ="/static/style.css">
    
</head>
<body>
    <h1>SENAI</h1>
    <div id="login">
        <img src="/static/fiep.png" alt="fiep logo" width="400" height="200">
        <div class="email">
            <label>Email: </label>
            <input type="email" placeholder="Digite seu email..." required>
        </div>
        <div class="senha">
            <label>Senha: </label>
            <input type="password" placeholder="Digite sua senha..." required>
        </div>
        <button id="Entrar">Entrar</button>
    </div>

    <script src="/static/static.js"></script>
</body>
</html>