<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENAI- Cadastro</title>
    <link rel="stylesheet" href ="static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body id="cadastro-body">
    <div id="cadastro-page">
        <div id="login-img">
            <img src="static/indust.png" alt="login-img">
        </div>
        <div id="cadastro-form">
            <div id="titulo-cadastro">
                <h1>CADASTRE-SE</h1>
            </div>
            <div id="cadastro-card">
                <div id="fiep-img">
                    <img src="static/fiep.png" alt="fiep-img">
                </div>
                <form action="/cadastro" method="POST" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label>Usuário</label>
                        <input type="text" class="form-control" id="usuario" name="user" placeholder="Nome de usuário" required minlength="3" title="Digite o nome de usuário.">
                    </div>
                    <div class="mb-3">
                        <label>E-mail profissional</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="seunome@pr.senai.br" required pattern=".+@pr\.senai\.br" title="Digite o seu email profissional.">
                    </div>
                    <div class="mb-3">
                        <label>Senha</label>
                        <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite sua senha" required minlength="6" title="A senha precisa ter no mínimo 6 caracteres">
                    </div>
                    <div>
                        <button id="btn-criar" type="submit" class="btn btn-primary">Cadastrar-se</button>
                    </div>
                    <input type="hidden" name="perfil" value="admin">
                </form>
            </div>
        </div>
    </div>

    <script src="/static/static.js"></script>
</body>
</html>